// mixin ustawiający color z listy kolorów w _colors.scss
@mixin color($color) {
    color: map-get($colors, $color );
}
// mixin ustawiający border-color z listy kolorów w _colors.scss i parametry width dla danej krawędzi
@mixin border($color, $top, $right, $bottom, $left) {
    border: {
        width: 1px;
        radius: 3px;
        style: solid;
        color: map-get($colors, $color );
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
    }
}
// mixin ustawiający background-color z listy kolorów w _colors.scss
@mixin backgroundColor($color) {
    background-color: map-get($colors, $color );
}
// mixin ustawiajacy parametry i ścieżkę dle backkground-image
@mixin backgroundImage($image) {
    background: {
        image: url('../images/icons/'+$image+'.svg');
        repeat: no-repeat;
        position: center;
        size: cover;
    }
}