@mixin color($color) { // mixin setting color from _colors.scss (color list)
    color: map-get($colors, $color );
}
@mixin border($color, $top, $right, $bottom, $left) { // mixin setting border-color from _colors.scss (color list) and parameters width for border
    border: {
        width: 1px;
        radius: 3px;
        style: solid;
        color: map-get($colors, $color );
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
    }
}
@mixin backgroundColor($color) { // mixin setting background-color from _colors.scss (color list)
    background-color: map-get($colors, $color );
}
@mixin backgroundImage($image) { // mixin setting path for background-image
    background: {
        image: url('../images/icons/'+$image+'.svg');
        repeat: no-repeat;
        position: center;
        size: cover;
    }
}