@import "colors";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: map-get($colors, "bgColor");
    margin: 5% 20%;
}

.section_two {
    width: 100%;
}
.form {
    width: 300px;
    & span {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    & button {
        color: map-get($colors, "white" );
        border: {
            width: 1px;
            style: solid;
            color: map-get($colors, "dark" );
            radius: 5px;
        }
        padding: 5px 25px;
        background-color: map-get($colors, "primary")
    }
}
.nameInput {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & input {
       width: 100%;
       margin: 10px 0;
       padding: 8px;
       background-color: transparent;
       border: { 
            radius: 5px;
            width: 1px;
            style: solid;
            color: map-get($colors , "secondary" );
       }
   }
   & label {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 14px;
    position: absolute;
    color: map-get($colors, "secondary" );
    transition: 0.1s linear;
    z-index: -1;
    }
    & input:focus {
        border: {
            width: 1px;
            style: solid;
            color: map-get($colors, "primary" );
        }
        box-shadow: none;
        outline: none;
    }
    & input:focus + label {
        top: 20%;
        z-index: 1;
        background-color: map-get($colors, "bgColor");
        color: map-get($colors, "primary" )
    }
    & input:not(:placeholder-shown) + label {
        top: 20%;
        z-index: 1;
        background-color: map-get($colors, "bgColor");
    }
}
::-webkit-input-placeholder {
    opacity: 0;
}
table {
    width: 1000px;
    margin: {
        top: 50px;
        bottom: 10px;
    }
    border-collapse: collapse;
    text-align: left;
    // border: 1px solid map-get($colors, "secondary");
    border: {
        width: 1px;
        style: solid;
        color: map-get($colors, "secondary");
    }
    & td, & th {
        border: {
            width: 1px;
            style: solid;
            color: map-get($colors, "secondary");
            left: 0;
            right: 0;
            top: 0;
            bottom: 1;
        }
        padding: 20px;
        color: map-get($colors, "secondary" );
    }
}
.box {
    display: flex;
    align-items: center;
    & span {
        padding-left: 5px;
        display: flex;
        flex-direction: column;
    }
    & span i {
        padding: 0 5px;
        margin: 2px;
        cursor: pointer;
    }
    & span i:hover {
        color: map-get($colors, "primary" );
    }
}
#delete:hover {
    cursor: pointer;
}
#delete:hover i {
    color: map-get($colors, "primary" );
}