@font-face {
  font-family: SansPro;
  src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: SansPro;
}

::-webkit-input-placeholder {
  opacity: 0;
}

::-moz-placeholder {
  opacity: 0;
}

:-moz-placeholder {
  opacity: 0;
}

::-ms-input-placeholder {
  opacity: 0;
}

body {
  background-color: #fff;
  margin: 5% 336px;
}

.section_one, .section_two {
  width: 100%;
}

.worker_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.worker {
  width: 276px;
  position: relative;
}

.worker::after {
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  right: 15px;
  top: 5;
  background-image: url("/assets/images/icons/chevron-down-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#option-container {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  max-height: 0px;
  overflow: hidden;
  border-width: 0px;
}

.option-container {
  width: 276px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #D6E2F5;
}

.option-container .option {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 3px;
}

.option-container .option img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
}

.option-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #D6E2F5;
}

.option-container .search .nameInput {
  position: relative;
}

.option-container .search .nameInput input {
  width: 264px;
  background-color: #F2F4F8;
}

.option-container .search .nameInput input::-webkit-input-placeholder {
  opacity: 1;
}

.option-container .search .nameInput input::-moz-placeholder {
  opacity: 1;
}

.option-container .search .nameInput input:-moz-placeholder {
  opacity: 1;
}

.option-container .search .nameInput input::-ms-input-placeholder {
  opacity: 1;
}

.option-container .search .nameInput::after {
  position: absolute;
  content: " ";
  width: 13px;
  height: 13px;
  right: 15px;
  top: 5;
  background-image: url("/assets/images/icons/search-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.option-container .option:hover {
  background-color: #F4F7FB;
}

.option-container .active {
  color: #00447c;
}

.option-container .active::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  right: 15px;
  top: 5;
  background-image: url("/assets/images/icons/check-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.line {
  width: 280px;
  height: 1px;
  margin: 42px 0;
  background-color: #A1A1A1;
}

.form {
  width: 276px;
}

.form span {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form span p {
  font-size: 14px;
}

.form button {
  width: 92px;
  height: 30px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #4A4A4A;
  border-radius: 5px;
  background-color: #00447c;
}

.nameInput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nameInput input {
  width: 276px;
  height: 30px;
  margin: 10px 0;
  padding: 8px;
  background-color: transparent;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #E1E1E1;
}

.nameInput label {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  font-size: 14px;
  position: absolute;
  color: #939393;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  z-index: -1;
}

.nameInput input:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #00447c;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.nameInput input:focus + label {
  top: 20%;
  z-index: 1;
  background-color: #fff;
  color: #00447c;
}

.nameInput input:not(:placeholder-shown) + label {
  top: 20%;
  z-index: 1;
  background-color: #fff;
}

table {
  width: 702px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
  border-width: 1px;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: #D6E2F5;
}

table td, table th {
  font-size: 14px;
  padding: 18px;
  color: #4F4F4F;
  border-width: 1px;
  border-style: solid;
  border-color: #D6E2F5;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1;
}

table td span {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table td span img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.box span {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box span img {
  margin: 2px;
  width: 6px;
  height: 8px;
  cursor: pointer;
}

#delete:hover {
  cursor: pointer;
}

#taskEror {
  font-size: 14px;
}

.font_dark {
  color: #4A4A4A;
}
/*# sourceMappingURL=style.css.map */